*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1280px; 
    margin: 0 auto;
    padding: 15px;
}

.primary-btn {
    background-color:#FF4240;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
 
i {
    font-size: 22px;
    padding: 0px 5px;
    font-weight: bold;
}