* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  background-color: #FFFFFF;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}

.primary-btn {
  background-color: #ff4240;
  padding: 10px 25px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.primary-btn:hover {
  background-color: tomato;
  transform: translateY(-6px);
}

i {
  font-size: 22px;
  padding: 0px 5px;
  font-weight: bold;
}

/* message  */


#message {
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

#message:hover {
  transform: translateY(-6px);
}
 

.card-container {
   transition:
    transform 0.3s ease,
    background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
 .card-container:hover {
  transform: translateY(-5px);
}

/* items  */
 

.item {
   box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
     transition: 0.3s; 
    } 

.item:hover {
   box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transform: translateY(-4px); 
  }

 .contact-items {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

 